<div>
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
    placeholder="Enter your password"
  />
</div>

<div class="strength-section">
  <div
    class="section"
    [ngStyle]="{
      'background-color':
        passwordStrength === 'Empty'
          ? 'grey'
          : passwordStrength === 'Short'
          ? 'red'
          : passwordStrength < 'Easy'
          ? 'gray'
          : passwordStrength === 'Easy'
          ? 'red'
          : passwordStrength === 'Medium'
          ? 'yellow'
          : 'green'
    }"
  ></div>
  <div
    class="section"
    [ngStyle]="{
      'background-color':
        passwordStrength === 'Short'
          ? 'red'
          : passwordStrength < 'Medium'
          ? 'gray'
          : passwordStrength === 'Medium'
          ? 'yellow'
          : 'green'
    }"
  ></div>
  <div
    class="section"
    [ngStyle]="{
      'background-color':
        passwordStrength === 'Short'
          ? 'red'
          : passwordStrength < 'Strong'
          ? 'gray'
          : 'green'
    }"
  ></div>
</div>

<div *ngIf="passwordStrength === 'Empty'">The field is empty!</div>
<div *ngIf="passwordStrength === 'Easy'">The password is easy!</div>
<div *ngIf="passwordStrength === 'Medium'">The password is medium!</div>
<div *ngIf="passwordStrength === 'Strong'">The password is strong!</div>
<div *ngIf="passwordStrength === 'Short'">
  The field has less than 8 characters!
</div>

<!-- 
 Empty = '0',
  Short = '4',
  Easy = '1',
  Medium = '2',
  Strong = '3', -->
