<div>
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
    placeholder="Enter your password"
  />
</div>

<div class="strength-section">
  <div
    class="section"
    [ngStyle]="{
      'background-color':
        passwordStrength === 'Empty'
          ? 'grey'
          : passwordStrength === 'Short'
          ? 'red'
          : passwordStrength < 'Easy'
          ? 'gray'
          : passwordStrength === 'Easy'
          ? 'red'
          : passwordStrength === 'Medium'
          ? 'yellow'
          : 'green'
    }"
  ></div>
  <div
    class="section"
    [ngStyle]="{
      'background-color':
        passwordStrength === 'Short'
          ? 'red'
          : passwordStrength < 'Medium'
          ? 'gray'
          : passwordStrength === 'Medium'
          ? 'yellow'
          : 'green'
    }"
  ></div>
  <div
    class="section"
    [ngStyle]="{
      'background-color':
        passwordStrength === 'Short'
          ? 'red'
          : passwordStrength < 'Strong'
          ? 'gray'
          : 'green'
    }"
  ></div>
</div>

<app-password-message
  [passwordStrength]="passwordStrength"
></app-password-message>
