div {
  margin-bottom: 10px;
}

input {
  width: 100%;
}

.strength-section {
  display: flex;
  width: 100%;
  gap: 5px;
}

.section {
  flex: 1;
  height: 10px;
  border-radius: 2px;
  border: 1px solid #000;
}
